@import '../../../../../../theme/sass/conf/conf.scss';

div.modal-content {
    background: $sidebar;
    color: $label-text;
}

div.modal-content > form > div.modal-header > button.close > span {
    color: $label-text;
}

hr {
    background: $border;
}