<div class="modal-content">
  <form [formGroup]="formPracticalType" novalidate (ngSubmit)="onSubmit(formPracticalType)">
    <div class="modal-header">
      <h4 class="modal-title">{{modalHeader}}</h4>

      <button class="close" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <hr>

    <div class="modal-body">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="name">* NOMBRE</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label for="description">DESCRIPCIÓN</label>
            <textarea class="form-control" id="description" formControlName="description"></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary confirm-btn" [disabled]="formPracticalType.invalid">Confirmar</button>
      <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Cancelar</button>
    </div>
  </form>
</div>